{
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-pkg"],
  "overrides": [
    {
      "files": ["*.html", "*.md"],
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.spec.tsx", "*.test.tsx", "*.spec.ts", "*.test.ts"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
